@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Bots</h1>
<a href="/CreateBot">Create a new bot</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            @* <th>Token</th> *@
            <th>Use Pulling</th>
            @* <th>Webhook URL</th> *@
            <th>Active</th>
            <th colspan="4">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bot in Model.Bots)
        {
            <tr>
                <td><a asp-page="/Bot" asp-route-id=@bot.Id>@bot.Name</a></td>
                @* <td>@bot.Token</td> *@
                <td>@(bot.UsePulling ? "Yes" : "No")</td>
                @* <td>@bot.WebhookUrl</td> *@
                <td>@(bot.IsActive ? "Yes" : "No")</td>
                <td>
                    <form asp-page-handler="@(bot.IsActive ? "Stop" : "Start")" method="post">
                        <input type="hidden" name="id" value="@bot.Id" />
                        <button type="submit" class="btn btn-sm @(bot.IsActive ? "btn-secondary" : "btn-primary")">
                            @(bot.IsActive ? "Stop" : "Start")
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-page="EditBot" asp-page-handler="Edit" method="get">
                        <input type="hidden" name="id" value="@bot.Id" />
                        <button type="submit" class="btn btn-primary btn-sm" disabled="@bot.IsActive">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-page="CommandHandlers" asp-page-handler="CommandHandlers" method="get">
                        <input type="hidden" name="id" value="@bot.Id" />
                        <button type="submit" class="btn btn-primary btn-sm" disabled="@bot.IsActive">Command handlers</button>
                    </form>
                </td>
                <td>
                    <form asp-page-handler="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete @bot.Name?');">
                        <input type="hidden" name="id" value="@bot.Id" />
                        <button type="submit" class="btn btn-sm" style="background-color: red; border-color: #b02a37" disabled="@bot.IsActive">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

